@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<head>
    <title>Upload Files</title>
</head>
<body>
    <h1>Upload Files</h1>
    <form method="post" enctype="multipart/form-data" asp-action="UploadFiles">
        <input type="file" name="filesToUpload" multiple />
        <button type="submit">Upload</button>
    </form>
</body>